.app-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 12rem auto;
  justify-content: center;
}

.first_item {
  grid-column-start: 1;
}

.second_item {
  grid-column-start: 1;
  grid-row-start: 2;
}

@media (min-width: 1440px) {
  html {
    height: 100%;
  }
  body {
    height: 100%;
  }
  #root {
    height: 100%;
  }
  .app-container {
    display: grid;
    height: 100%;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
  }
  .first_item {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-end: 1;
    justify-self: end;
    align-self: start;
  }
  .second_item {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
  }

  .second_item > div {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    grid-template-rows: 10rem 10rem;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
  }
}
